body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}
.box {
  background-color: #e8dbd5;
  margin: 0 auto;
  width: 50%;
  padding: 20px;
  margin-bottom: 50px;
}
.fetch{
  background-color: #683e42;
  padding: 10px;
    color: white;
    font-weight: bold;
}
.center{
  margin: 0 auto;
}
.btn-form{
  padding: 10px;
  font-weight: 600;
  color: #ffffff;
  background-color: #d31d0f;
  border-radius: 6px;
  border: none;
}
input[type=text]{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  margin-bottom: 5px;
}
.img-c{
  width: 200px;
  height: 100px;
  margin-bottom: 10px;
}
.bg{
  background-color: rgb(22, 16, 58);
  height: 100vh;
}
.title {
  font-size: 4.5rem;
  color: rgb(46, 205, 245);
  font-weight: 300;
}
.line{
  height: .5px;
  background: white;
  margin: 15px;
}
.subtitle {
  color: white;
  letter-spacing: 5px;
  margin: 0;
}
.texto {
  color: white;
  font-size: 1.5rem;
}
.frase {
  color: rgb(46, 205, 245);
  letter-spacing: 2px;
}
.frase:last-of-type {
  letter-spacing: 3px;
  margin-bottom: 2rem;
}
.search {
  border: 2px solid white !important;
  background-color: transparent;
  margin-bottom: 2.5rem !important;
}

.name {
  font-size: 3rem;
  padding: 1.5rem;
  color: rgb(44, 37, 92)
}
.info {
  padding:1rem;
  color: white; 
}
.modal-hr {
  height: 1px;
}
.datos {
  color: rgb(44, 37, 92);
  border:  3px solid rgb(44, 37, 92);
  padding: .5rem 0;
}
.estilodato{
  font-size: 2.5rem;
}
.collection {
  margin: .5rem 0;
}
.bg-modal {
  background: rgb(46, 205, 245);
}
.noresult{
  color: white;
}